html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3ceb4;
}
.meow-script-regular {
    font-family: "Meow Script", cursive;
    font-weight: 600;
    font-style: normal;
  }
.playwrite-gb-s {
    font-family: "Playwrite GB S", cursive;
    font-weight: 400;
    font-style: normal;
  }

a {
    text-decoration: none;
    color: white;
    transition: transform .2s;
}
a:hover {
    transform: scale(1.1);
}

header {
    width: 100%;
    height: 5vw;
    min-height: 44px;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    background-color: #2A4D14;
}
header button {
    display: none;
}
header nav{
    grid-column: 1/6;
    z-index: 1;
    justify-self: center;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    font-size: 2vw;
    top: 1vw;
}
header img {
    grid-column: 1/6;
    grid-row: 2;
    z-index: 0;
    width: 100%;
    height: auto;
    opacity: .45;
}
header h1 {
    margin-top: -5vw;
    z-index: 1;
    grid-column: 2/5;
    grid-row: 2;
    text-align: center;
    color: white;
    font-size: 11vw;
    letter-spacing: -0.4vw;
}
header>a{
    position: relative;
    top: 15vw;
    z-index: 1;
    grid-column: 3/4;
    grid-row: 2;
    text-align: center;
    font-size: 5vw;
    height: 7vw;
    color: white;
    background-color: var(--darkGreen);
    border-radius: 1vw;
    padding: 1.5vw 5vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

















.ecard {
    box-sizing: border-box;
    background-color: #e3ceb4;
    height: 100%;
    max-width: 800px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: end;
}







.inv-flip {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.2) translateY(175%) rotate(-90deg);
}

.inv-flip.move {
    animation: deskFly 2s ease-out forwards;
}



.inv-flip .inv-back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 1s;
}
.inv-flip .inv-front {
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: transform 1s;
}

.stright.inv-back{
    transform: rotateY(180deg);
}
.stright.inv-front{
    transform: rotateY(0deg);
}

.straight.flip.inv-back{
    transform: rotateY(0deg);
}

.straight.flip.inv-front{
    transform: rotateY(-180deg);
}

.inv-flip img {
    box-sizing: border-box;
    height: auto;
    width: 90%;
    position: absolute;
    z-index: 1;

    
}

.env {
    background-color: #2A4D14;
    height: 25%;
    width: 60%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    border: none;
}

.env.wiggle {
    animation: wiggle 1.5s ease-in-out infinite; 
}

.envFront {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
}   

.envFold {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}   

.envTopIMG {
    transform-origin: top;
    transition: transform 1s;
    z-index: 3;
}

/* env top animation */
.envTopIMG.openTop {
    transform: rotateX(180deg);
    position: relative;
    z-index: 2;
}
.envFold.openTop {
    z-index: 2;
}


img {
    width: 100%;
    height: 100%;
}

img.addy {
    position: absolute;
    z-index: 3;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 28%;
    height: auto;
}

button {
    background-color: #2A4D14;
    position: absolute;
    bottom: 5%;
    padding: .5rem;
    z-index: 5;
    min-height: 44px;
    height: 8%;
    width: 40%;
    border: 2px solid white;
    color: white;
    font-size: 20px;
}

@media (max-width: 800px) {

    header{
        height: 12vw;
    }
    header nav{
        font-size: 5vw;
    }

    .inv-flip {
        will-change: transform;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(.3) translateY(125%) rotate(-90deg);
        /* animation: fly 0s ease-in forwards; */
    }

    .inv-flip.move {
        animation: revfly 2s ease-out forwards;
    }



    .inv-flip .inv-back {
        transform: rotateY(180deg);
        backface-visibility: hidden;
        transition: transform 1s;
    }
    .inv-flip .inv-front {
        transform: rotateY(0deg);
        backface-visibility: hidden;
        transition: transform 1s;
    }

    .stright.inv-back{
        transform: rotateY(180deg);
    }
    .stright.inv-front{
        transform: rotateY(0deg);
    }

    .straight.flip.inv-back{
        transform: rotateY(0deg);
    }

    .straight.flip.inv-front{
        transform: rotateY(-180deg);
    }

    .inv-flip img {
        box-sizing: border-box;
        height: auto;
        width: 90%;
        position: absolute;
        z-index: 1;

        
    }
    
    .env {
        background-color: #2A4D14;
        height: 25%;
        width: 60%;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 0;
        border: none;
    }

    .env.wiggle {
        animation: wiggle 1.5s ease-in-out infinite; 
    }
    
    .envFront {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        z-index: 3;
    }   

    .envFold {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
    }   

    .envTopIMG {
        transform-origin: top;
        transition: transform 1s;
        z-index: 3;
    }

    /* env top animation */
    .envTopIMG.openTop {
        transform: rotateX(180deg);
        position: relative;
        z-index: 2;
    }
    .envFold.openTop {
        z-index: 2;
    }


    img {
        width: 100%;
        height: 100%;
    }

    img.addy {
        position: absolute;
        z-index: 3;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 28%;
        height: auto;
    }

    button {
        background-color: #2A4D14;
        position: absolute;
        bottom: 10%;
        padding: .5rem;
        z-index: 5;
        min-height: 44px;
        height: 8%;
        width: 40%;
        border: 2px solid white;
        color: white;
        font-size: 20px;
    }

}

@keyframes revfly {
    0% {
        transform:  scale(.3) translateY(125%) rotate(-90deg);
        z-index: 1;
        
    }
    15% {

        z-index: 3;
        
    }
    60% {
        transform: scale(.3) translateY(30%); 
        z-index: 4;
    }
    100% {
        transform: translate(0%);
        z-index: 5;
    }
}

@keyframes wiggle {
    0% {
        /* transform: translate(0) rotate(0) scale(1); */
        z-index: 3;
    }
    20% {
        transform: rotate(10deg);
    }
    /* 50% {
        transform: rotate(0) translate(0) scale(1);
    } */
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
        z-index: 3;
    }
}

/* @keyframes fly {
    0% {
        transform: translate(0%);
        z-index: 5;
    }
    40% {
        transform: scale(.3) translateY(75%); 
        z-index: 4;
    }
    70% {
        z-index: 3;
    }
    100% {
        transform:  scale(.3) translateY(125%) rotate(-90deg);
        z-index: 1;
    }
}
*/
@keyframes deskFly {
    0% {
        transform: scale(.2) translateY(175%) rotate(-90deg);
        z-index: 3;
        
    }
    30% {
        z-index: 3;
        
    }
    60% {
        transform: scale(.2) translateY(30%); 
        z-index: 4;
    }
    100% {
        transform: translate(0%);
        z-index: 5;
    }
}