:root {
    --black: #11160D;
    --white: #ffefd9;
    --lightGreen: #82a777;
    --darkGreen: #2A4D14;
    --cream: #e3ceb4;
    
}

body{
    background-color: var(--white);
    margin: 0;
}

.active{
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
    transition: transform .2s;
}
a:hover {
    transform: scale(1.1);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 40% 1fr 1fr;
    align-items: center;
    background-color: black;
}
header button {
    display: none;
}
header nav{
    grid-column: 1/6;
    z-index: 1;
    justify-self: center;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 3.5vw;
    top: 2vw;
}
header img {
    grid-column: 1/6;
    grid-row: 2;
    z-index: 0;
    width: 100%;
    height: auto;
    opacity: 70%;
}
header h1 {
    margin-top: -8vw;
    z-index: 1;
    grid-column: 2/5;
    grid-row: 2;
    text-align: center;
    color: white;
    font-size: 7vw;
}
header>a{
    position: relative;
    top: 12vw;
    z-index: 1;
    grid-column: 3/4;
    grid-row: 2;
    text-align: center;
    font-size: 5vw;
    height: 5vw;
    color: white;
    background-color: var(--darkGreen);
    border-radius: 1vw;
    padding: 1.5vw 5vw;

    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden {
    display: none;
}
.seen {
    display: flex;
}


footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: var(--darkGreen);
    padding: 2vw;
    color: white;
    font-size: 3vw;
}
footer p{
    margin: 0;
}
footer a {
    background-color: var(--black);
    color: var(--white);
    padding: 1vw;
    border-radius: 1vw;
    width: 15vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 45vw;
    width: 100%;
    align-items: center;
    justify-items: center;
}
section img {
    width: 85%;
    border-radius: 1vw;
    grid-column: 2/3;
    grid-row: 1;
}
#registry img{
    grid-column: 1/2;
}
section div {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 32vw;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--lightGreen);
    border-radius: 1vw;
}
section div h2{
    font-size: 8vw;
    margin: 0;
}
section div p{
    font-size: 3vw;
    margin: -2vw 0 0 0;
}
section div a{
    font-size: 5vw;
    border-radius: 1vw;
    background-color: var(--black);
    color: var(--white);
    padding: 1vw;
    text-align: center;
    width: 18vw;
    margin: -1vw 0 0 0;
}
#rsvp {
    height: auto;
    background-color: var(--black);
    color: var(--white);
    width: 88%;
    border-radius: 1vw;
    margin-bottom: 3vw;
    padding: 2.5vw;
}
#rsvp h2 {
    margin: 0;
    grid-column: 1/3;
    font-size: 10vw;
}
#rsvp p {
    grid-column: 1/3;
    font-size: 3vw;
    margin: 1vw;
}
#rsvp a {
    grid-column: 1/6;
    background-color: var(--darkGreen);
    padding: 1vw 6vw;
    font-size: 5vw;
    border-radius: 1vw;
}