:root {
    --black: #11160D;
    --white: #ffefd9;
    --lightGreen: #82a777;
    --darkGreen: #2A4D14;
    --cream: #e3ceb4;
    
    min-width: 300px;
}
.meow-script-regular {
    font-family: "Meow Script", cursive;
    font-weight: 600;
    font-style: normal;
  }
.playwrite-gb-s {
    font-family: "Playwrite GB S", cursive;
    font-weight: 400;
    font-style: normal;
  }



body{
    background-color: var(--white);
    margin: 0;
}

.active{
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
    transition: transform .2s;
}
a:hover {
    transform: scale(1.1);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 40% 1fr 1fr;
    align-items: center;
    background-color: black;
}
header button {
    display: none;
}
header nav{
    grid-column: 1/6;
    z-index: 1;
    justify-self: center;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 93%;
    font-size: 3.5vw;
    top: 2vw;
}
header img {
    grid-column: 1/6;
    grid-row: 2;
    z-index: 0;
    width: 100%;
    height: auto;
    opacity: .45;
}
header h1 {
    margin-top: -5vw;
    z-index: 1;
    grid-column: 2/5;
    grid-row: 2;
    text-align: center;
    color: white;
    font-size: 11vw;
    letter-spacing: -0.4vw;
}
header>a{
    position: relative;
    top: 15vw;
    z-index: 1;
    grid-column: 3/4;
    grid-row: 2;
    text-align: center;
    font-size: 5vw;
    height: 7vw;
    color: white;
    background-color: var(--darkGreen);
    border-radius: 1vw;
    padding: 1.5vw 5vw;

    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden {
    display: none;
}
.seen {
    display: flex;
}


footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: var(--darkGreen);
    padding: 2vw;
    color: white;
    font-size: 3vw;
}
footer p{
    margin: 0;
}
footer a {
    background-color: var(--black);
    color: var(--white);
    padding: 1vw;
    border-radius: 1vw;
    width: 12vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    width: 100%;
    align-items: center;
    justify-items: center;
}
section img {
    width: 70%;
    border-radius: 1vw;
    margin: 2vw 0 2vw 0;
    grid-column: 2/3;
    grid-row: 1;
}
#registry img{
    grid-column: 1/2;
}
section div {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 40vw;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--lightGreen);
    border-radius: 1vw;
}
section div h2{
    font-size: 8vw;
    margin: 0;
}
section div p{
    font-size: 3vw;
    margin: -2vw 0 0 0;
}
section div a{
    font-size: 5vw;
    border-radius: 1vw;
    background-color: var(--black);
    color: var(--white);
    padding: 1vw;
    text-align: center;
    width: 22vw;
    margin: -1vw 0 0 0;
}
#rsvp {
    height: auto;
    background-color: var(--black);
    color: var(--white);
    width: 88%;
    border-radius: 1vw;
    margin-bottom: 3vw;
    padding: 2.5vw;
}
#rsvp h2 {
    margin: 0;
    grid-column: 1/3;
    font-size: 10vw;
}
#rsvp p {
    grid-column: 1/3;
    font-size: 3vw;
    margin: -2vw 0 1vw 0;
}
#rsvp a {
    grid-column: 1/6;
    background-color: var(--darkGreen);
    padding: 1vw 6vw;
    font-size: 5vw;
    border-radius: 1vw;
}



/* ---- Form Styles ----- */
form {
    width: 50%;
    min-width: 50%;
}
form legend {
    font-size: 3.5vw;
}
form :is(label,input) {
    display: block;
    min-height: 44px;
    font-size: 3vw;
    border: none;
    box-sizing: border-box;
}
form :is(label,input):required {
    border-right: 1vw rgb(226, 0, 0) solid;
}
form :is(label,input):valid {
    border-right: 1vw var(--lightGreen) solid;
}
form input[type="submit"] {
    border: none;
}

form input[type="checkbox"] {
    display: inline;
    min-width: 44px;
    border-radius: 1vw;
}

label:has(input[type="checkbox"]) {
    display: flex;
    margin: .3vw;
    align-items: center;
}
form label {
    margin: 2vw 0 0 0;
}
form input {
    margin-top: .5vw;
    border-radius: 1vw;
}
#stateInput {
    width: 6vw;
}

fieldset {
    padding-bottom: 2vw;
}
.mailing {
    display: none;
}
#submitButton {
    margin: 1vw auto 2vw auto;
    background-color: var(--darkGreen);
    width: 60%;
    height: 8vw;
    font-size: 4vw;
    text-decoration: none;
    color: white;
    transition: transform .2s;
}
#submitButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Contact Styles */
.contact {
    display: flex;
    flex-direction: row;
    margin: 1vw 2vw 1vw 2vw;
}

.contact section :is(div,img,#registryImg) {
    grid-column: 1/3;
}
.contact section img {
    grid-row: 1;
}
.contact #gallery {
    display: none;
}
.thankyou_message{
    display: none;
    font-size: 4.5vw;
}
.contact h3 {
    text-align: center;
}
.contact h2 {
    font-size: 6vw;
}

.contact .loading{
    display: none;
}


/* ----- not available page ----- */
#notAvailable h2 {
    text-align: center;
    font-size: 4vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
#notAvailable h3 {
    font-size: 2.5vw;
    margin-top: 1vw;
}
#notAvailable section {
    margin-bottom: 5vw;
}
#notAvailable div {
    height: 30vw;
}
#notAvailable div a {
    font-size: 4vw;
}
#notAvailable div h2 {
    font-size: 4.75vw;
}





/* ------ Details Page ------ */
.details article {
    height: auto;
    background-color: var(--darkGreen);
    color: var(--white);
    width: 80vw;
    border-radius: 1vw;
    margin: 3vw 0 3vw 0;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.details article h2 {
    font-size: 10vw;
    margin: 0 0 3vw 0;
}

.details section {
    background-color: var(--lightGreen);
    color: var(--black);
    display: grid;
    border-radius: .5vw;
    margin: 1vw 1vw;
}

.details div {
    grid-column: 1;
    grid-row: 1;
    padding: 3vw;
    height: auto;
    justify-content: space-around;
}
.details img {
    grid-column: 2;
    width: 80%;
    height: auto;
}
.sec2 div {
    grid-column: 2;
}
.sec2 img {
    grid-row: 1;
    grid-column: 1;
}

.details section h3 {
    font-size: 7vw;
    width: 100%;
    margin: 0 0 3vw 0;
    display: flex;
    justify-content: space-around;
}
.details section p {
    font-size: 2.5vw;
}
.details section a {
    text-decoration: underline;
    color: var(--black);
    background-color: var(--lightGreen);
    padding: 0;
    font-size: 2.5vw;
}

.details .directions {
    display: flex;
    flex-direction: column;
}
.details .directions a{
    display: flex;
    place-content: center;
    background-color: var(--black);
    padding: 2vw 1vw;
}
.details .directions p {
    margin-top: 0;
}

#dress {
    display: flex;
    flex-direction: column;
}

#dress h3 {
    font-size: 8vw;
    margin: 0;
}
#dress p {
    font-size: 4vw;
    padding: 4vw;
    margin: 0;
}
#dress ul {
    padding:0 4vw;
    margin: 0;
    font-size: 3vw;
    list-style: none;
}
#dress ul li {
    margin: 3vw;
}

#itenerary {
    display: flex;
    flex-direction: column;
}
#itenerary p {
    margin: 0;
    padding: 0 2vw 2vw 2vw;
    font-size: 3vw;
}
